{% if data is not empty %}
<span class="glyphicon icon-icon_51985"> {{ data }} {{ unit }}</span>
<span class="date-data"> {{ date | date("d/m/Y") }} </span>
{% else %}
<span class="glyphicon icon-icon_51985">No data</span>
{% endif %}
