{% extends "YdleHubBundle::layout_user.html.twig" %}

{% block title "page.confirmed.title" | trans  %}

{% block fos_user_content %}
<div class="row center-block">
    <div class="center-block" style="text-align:center;">
        <p>{{ "registration.completed.title" | trans }}<br/>
        </p>
    <a href="">
    </div>
</div>
{% endblock fos_user_content %}
