{% extends "YdleHubBundle::layout.html.twig" %}

{% block title %}{{ "title.config" | trans}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Node types</h3>
                <div class="box-tools pull-right">
                    <button data-widget="collapse" class="btn btn-primary btn-xs"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body ajax-loading table-responsive" id="nodetype-list" data-endpoint="/node/type.json" data-template="nodetype-list">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box" data-template="nodetype-list">
            <div class="box-header">
                <h3 class="box-title">Add / Edit a node type</h3>
            </div>

            <div class="ajax-loading" data-endpoint="/conf/typenode/form" data-template="nodetype-form" id="nodetype-form">
            </div>
        </div>
    </div> 
</div>      
{% endblock %}
