{% extends "YdleHubBundle::layout.html.twig" %}

{% block title '{{ "page.about.title" | trans }}' %}

{% block content %}
        <div class="row">
          <div style="width: 760px; margin-right: 20px;" class="col-lg-8 with-border">
            <h2>{{ "about.title" | trans }}</h2>
            <p>{{ "about.description" | trans }}</p>
          </div>   
        </div>      
{% endblock %}